# https://code.visualstudio.com/api/working-with-extensions/continuous-integration
name: build

on:
  pull_request:
    branches:
    - main
  push:
    branches-ignore:
    - 'releases/**/*'
    paths-ignore:
    - '.github/workflows/release.yml'
    - '.github/workflows/publish.yml'
    - '.github/workflows/codeql-analysis.yml'
    - CHANGELOG.md
    - README.md
    - 'images/*'

jobs:
  unittests:
    strategy:
      matrix:
        os: [ ubuntu-latest, macOS-latest, windows-latest ]
      fail-fast: false
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v1
      with:
        # only use the latest files
        fetch-depth: 1
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - run: npm ci
    - run: npm run lint
    - run: npm run linttests
    - run: npm run test-compile
    - run: xvfb-run -a npm test
      if: runner.os == 'Linux'
    - run: npm test
      if: runner.os != 'Linux'
